
@using Cirice.Data.Models
@using Cirice.Data.Services
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@model Cirice.Data.ViewModels.CompositionViewModel
@inject RightService RightService
@inject UserManager<User> UserManager
<div class="col-md-1"></div>

@if (Model != null)
{
    <div class="col-12 col-md-10 bg-light">
        <div class="m-2 mt-4 pb-4 border-bottom">
            <div class="row">
                <div class="col-12 col-lg-3">
                    @if (Model.ImgSource != null)
                    {
                        <img src="@Model.ImgSource" style="max-width: 100%; max-height: 250px" />
                    }
                    else
                    {
                        <img src="~/noimage.jpeg" style="max-width: 100%; max-height: 250px" />
                    }

                </div>
                <div class="col-12 col-lg-9 row mb-0">
                    <p class="col-12 font-weight-bold">@Model.Name</p>
                    <div class="col-12 d-inline-flex mb-0">
                        <div class="text-muted mr-1">Author:</div>
                        <a asp-action="Index" asp-controller="Account" asp-route-user="@Model.UserId">@Model.UserName</a>
                    </div>
                    <div class="col-12 d-inline-flex">
                        <div class="mr-2 text-muted mb-0">Genre:</div>
                        <div>@Model.GenreString</div>
                    </div>
                    <div class="col-12 d-inline-flex">
                        @{
                            foreach (Tag modelTag in Model.Tags)
                            {
                                <a href="">#@modelTag.TagString</a>
                            }
                        }
                    </div>
                    <div class="col-12 mt-1">
                        <h6 class="mb-0">Description:</h6>
                        <h6 class="font-weight-normal">@Model.Annotation</h6>
                    </div>
                    <div class="col-6 d-inline-flex">
                        <div class="text-muted mr-1">@Model.Likes</div>
                        <img src="~/comments-16.png" class="mt-2"height="16px" alt="" />
                        @{
                            var day = Model.LastPublication.ToString("dd.MM.yyyy");
                            var dayTime = Model.LastPublication.ToString("dd.MM.yyyy HH:mm");
                        }
                        <div class="text-muted ml-4" title="Last edit: @dayTime">@day</div>
                    </div>
                    <div class="col-6 d-inline-flex flex-md-row-reverse">
                        <p>Rating: @Model.Rating/5</p>
                    </div>
                    @if (await RightService.CheckRights(Model.CompositionId,await UserManager.GetUserAsync(User)))
                    {
                        <div class="col-12 d-inline-flex">
                            <a asp-action="Image" asp-route-id="@Model.CompositionId" class="btn btn-outline-info ml-1 mr-1">Edit Image</a>
                            <a asp-action="Edit" asp-route-id="@Model.CompositionId" class="btn btn-outline-info ml-1 mr-1">Edit</a>
                            <a asp-action="Reader" asp-route-id="@Model.CompositionId" class="text-decoration-none text-dark font-weight-bold ml-4 mr-1 mt-1">Read</a>
                        </div>
                    }
                    else
                    {
                        <div class="col-12 d-inline-flex">
                            <a asp-action="Reader" class="text-decoration-none text-dark font-weight-bold ml-1">Read</a>
                        </div>
                    }

                </div>
            </div>
        </div>
        <partial name="_CommentSection" />
    </div>
}
else
{
    <div class="m-2 col-10">
        <h2>This composition does not exist.</h2>
    </div>
}

<div class="col-md-1"></div>
